@import 'sass';

div.container-black {
  border-top: 2px solid rgba(0, 0, 0, .25);
  position: absolute;
  background: white;
  color: black;
  padding: 15px 5%;
  z-index: 1;
  @include mobile {
    display: none;
  }
  @include tablet {
    padding: 15px 2% !important;
  }
}
a.black-underline {
  font-size: 18px;
  color: inherit;
}
a.black-underline:hover {
  padding-bottom: 1px;
  border-bottom: 2px solid #000;
}
