@import 'sass';

.scroll {
  // if mobile then enable
  @include mobile {
    overflow-y: scroll;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  // momentum scrolling. usually improves experience, but here, leave disabled
  // -webkit-overflow-scrolling: touch;
}
// html {
.main-content {
  @extend .scroll;
}
// // body {
.container {
  @extend .scroll;
  height: 100vh;
}

.slide {
  background: center/cover fixed;
  // background: center/cover;
  height: 100vh;
  width: 100%;
}

// Somewhat important stuff

.slide {
  color: white;
  font: 3vw "Exo", sans-serif;
  text-shadow: 0 0 0.4em rgba(0,0,0,1);

  // text center
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 8vw;
    // font-size: 8vmax;
    margin: 0 0 .68em 0;
    text-shadow: 0 0 0.3em rgba(0,0,0,1);
  }
  footer {
    font-style: italic;
    font-size: 3vw;
    font-size: 3vmax;
  }
}
.slide-divider {
  padding: 0 1em;
}
#slide1 {
  background-image: url('http://all4desktop.com/data_images/original/4238689-nature-background.jpg');
  // background-image: asset_url('1landscapecolor.jpg');
}
#slide2 {
  background-image: url('http://wallpapershome.com/images/wallpapers/earth-2560x1440-planet-space-10121.jpg');
  // background-image: asset_url('2landscapecolor.jpg');
}
