@import 'sass';
$background-color: #7F7F7F;

.sidebar {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  height: 100vh;
  width: 100vw;
  position: fixed;
  // z-index: 1001;
  transform: translateX(-100%);
  &.active {
    transform: translateX(0);
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: inherit;
    &:hover {
      background-color: darken($background-color, 5%);;
    }
  }
}

$time: 0.4s;
$time-2: $time cubic-bezier(.77,0,.175,1);
$background-color: transparent;
$color: white;
$active-color: black;
$btn-width: 50px;
$btn-height: round($btn-width*0.8);
$bar-width: round($btn-width*0.625);
$bar-height: round($bar-width*0.07);

.transform-icon {
  background: $background-color;
  height: $btn-height;
  width: $btn-width;
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 1em;
}
.base {
  background: $color;
  height: $bar-height;
  width: $bar-width;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  transition: all $time;
  &::before,
  &::after {
    background: $color;
    height: $bar-height;
    width: 100%;
    position: absolute;
    content: '';
    transition: all $time;
  }
  &::before {
    top: -$bar-width*.29;
  }
  &::after {
    top: $bar-width*.29;
  }
}
.x-fancy-base {
  @extend .base;
  transition: all $time-2;
  &::before, &::after {
    transition: all $time-2;
    right: 0;
  }
  &.active {
    height: 0;
    background: $active-color;
    &::before, &::after {
      background: $active-color;
      top: 0px;
    }
  }
}
.x-fancy-3 {
  &:hover {
    i::before {
      right: -$bar-width*.176;
    }
    i::after {
      right: $bar-width*.176;
    }
    .active::before,
    .active::after {
      right: 0;
    }
  }
}
.x-fancy-3 {
  i {
    @extend .x-fancy-base;
    &.active {
      // height: $bar-height;
      transform: rotate(135deg);
      &::before {
        transform: rotate(90deg);
      }
      &::after {
        transform: rotate(0deg);
      }
    }
  }
}
