@import 'sass';
.contact-info-container {
  color: white;
  position: absolute;
  @include transform(translateY(-100%));
  width: 100%;
  z-index: 9999;
}
.contact-info-half {
  display: flex;
  justify-content: space-around;
  @include immobile {
    width: 50%;
  }
}
.contact-info {
  display: table-cell;
  margin: 10px;
  width: auto;
  @include mobile {
    line-height: 55px;
    margin: 0 !important;
    i {
      font-size: 1.2em;
      margin: 10px;
      &:hover {
        border-bottom: none !important;
      }
    }
  }
}

@include mobile {
  .text {
    display: none;
  }
  .project-name {
    font-size: 24px !important;
  }
  .project-tagline {
    display: none;
  }
  .page-header {
    line-height: 55px;
  }
  .container-white {
    padding: 0 !important;
    height: 55px;
    line-height: 55px;
  }
  .white-underline {
    border-bottom: none !important;
  }
}
.white-underline {
  color: inherit;
  &:hover {
    border-bottom: 1.5px solid #fff;
  }
}
.container {
  display: table;
  width: 100%;
  left:0;
  right:0;
  margin:auto;
}
.project-name,
.project-tagline {
  color: white;
}
.project-name {
  margin: 0;
}
@include desktop {
  .project-name {
    font-size: 3.25rem;
  }
}
@include tablet {
  .project-name {
    font-size: 2.25rem;
  }
}
@include mobile {
  .project-name {
    font-size: 1.75rem;
  }
}
.project-tagline {
  margin-top: 0;
  // margin-bottom: 2.5rem;
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.75;
}
@include desktop {
  .project-tagline {
    font-size: 1.25rem;
  }
}
@include tablet {
  .project-tagline {
    font-size: 1.15rem;
  }
}
@include mobile {
  .project-tagline {
    font-size: 1rem;
  }
}
.page-header {
  background: currentColor;
  text-align: center;
  transition: all .3s;
}
@include desktop {
  .page-header {
    padding: 2% 3% 1.8% 3%;
  }
}
@include tablet {
  .page-header {
    padding: 1.5% 3% 1% 3%;
  }
}
@include mobile {
  .page-header {
    padding: 0;
  }
}
