@import 'sass';

#self {
  display: block;
  width: 75%;
  margin: auto;
  @include tablet {
    width: 100%;
    border-radius: 5px;
  }
  @include mobile {
    width: 100%;
    border-radius: 5px;
  }
}
code a {
  font-size: 110%;
  color: #0645AD;
}
code a:hover {
  color: #0B0080;
  text-decoration: none;
}

.mt {
  margin-top: 1em;
}
