@import 'sass';
.click-area {
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  /* edit: added z-index */
  z-index: 1;
  /* fixes overlap error in IE7/8, make sure you have an empty gif */
  // background-image: url('empty.gif');
}

i.fa.fa-file-code-o {
  font-size: 1.5em;
}
#nav {
  line-height: 30px;
  background-color: transparent;
  height: auto;
  width: 21%;
  margin-top: 5vh;
  position: absolute;
  font-size: 0;
  a {
    font-size: 16px;
  }
}
nav {
  background-color: transparent;
  height: auto;
  width: 60%;
  padding: 8px;
  margin: auto;
  @include tablet {
    width: 80%;
  }
}
.update-button {
  color: white;
  background: $green !important;
  border: 2px solid $green !important;
  @include immobile {
    &:hover {
      color: $green !important;
    }
  }
}
.red-button {
  background-color: $red-button !important;
  border: 2px solid $red-button !important;
  @include immobile {
    &:hover {
      color: $red-button !important;
    }
  }
}
.big-button, input.big-button {
  border: 2px solid;
  // color: white;
  background-color: inherit;
  border-color: inherit;
  &:focus {
    outline: 0;
  }
  &:hover {
    color: inherit;
  }
}
.button, .big-button {
  @include appearance(none);
  position: relative;
  text-align: center;
  margin-bottom: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  width: 100%;
  // background: $site-color;
  background: currentColor;
  // color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 0;
  text-decoration: none;
  transition: all 0.3s;
  @include immobile {
    display: inline-block;
    border: 2px solid currentColor;
    &:hover {
      background-color: white !important;
    }
  }
  &:active {
    position: relative;
    top: 1px;
  }
  i {
    display: none;
  }
}
.white {
  color: white;
  @include immobile {
    &:hover {
      color: currentColor;
    }
  }
  @include mobile {
    color: currentColor;
  }
}
@include mobile {
  #nav {
    bottom: 0;
    width: 100%;
    background-color: white;
    margin: 0;
    line-height: 18px;
    border-top: 1px solid #BBB;
    height: 45px;
    z-index: 9999;
    position: fixed;
  }
  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 7px 0 0;
  }
  .button {
    width: 32%;
    color: #8899A6;
    background-color: white;
    padding: 0;
    font-size: 12.8px;
    &.selected {
      color: currentColor;
    }
  }
  .button, .big-button {
    display: block;
    i {
      display: block;
      line-height: .8;
      font-size: 1.7em;
    }
  }
}
