<%#= image_tag 'cruz.jpg', id: "self" %>
<%= image_tag '5landscapecolor.jpg', id: "self" %>

<h3>About</h3>

<p>
  Hello, I'm Cruz Nunez. I'm a full-stack web developer working for Code the Dream. I love to create living, breathing websites that fill the needs around me. Feel free to contact me with questions or ideas that we can work on together.
</p>
