<p>
  View Resumé as:
  <a href="/cruz_nunez_resume.jpg" target="_blank">JPG</a>,
  <a href="/cruz_nunez_resume.pdf" target="_blank">PDF</a>
</p>

<%= image_tag '/cruz_nunez_resume.jpg', class: 'resume' %>
