<p>
  Download Resumé:
  <a href="/resume_cruz_nunez.pdf" download>PDF</a> |
  <a href="/resume_cruz_nunez.docx" download>DOCX</a>
</p>
<%= image_tag 'resume_1.jpg', class: 'resume' %>
<%= image_tag 'resume_2.jpg', class: 'resume' %>
