<a href="/v2">
  <div class="wtf">
    <span></span>
    <span></span>
    <span></span>
  </div>
</a>

<div class="container">

  <div id="slide2" class="slide">
    <h1>
      Projects
    </h1>
  </div>

  <div class="slide-divider">
    <h1>Projects</h1>
  </div>

  <div class="projects-container">
    <% @projects.each do |project| %>
      <%= link_to v2_project_path(project), class: 'project-link' do %>
        <div class="project" style="background-image: url(<%= project.image.link %>)">
          <div class="project-title"><%= project.name %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= paginate @projects  %>
