<%= image_tag 'cruz.jpg', id: "self" %>

<h3>About</h3>

<p>
  I am a Ruby on Rails graduate from The Iron Yard in Durham, NC. I'm currently searching for a position in the Triangle Area to develop my skills as a programmer. I
  <code><a href="https://github.com/cruznunez">commit</a></code>
  to producing high-quality and meaningful work. If you want to team up and form amazing user experiences — you are very welcome to contact me.</code>
</p>
