<div class="resume-container">
  <a id="download-resume" href='resume_cruz_nunez.pdf' download>
    <div class="icon">
      <i class="fa fa-download"></i>
    </div>
    <%= image_tag 'resume_cruz_nunez.jpg', id: 'resume' %>
  </a>
</div>
