<% if page.current? %>
  <li class='active'>
    <%= content_tag :a, data: { remote: remote }, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) do %>
      <span class="page-text"><%= page %></span>
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% end %>
