.minicolors-theme-default.minicolors {
  margin-bottom: 1em !important;
  width: 100% !important;
}
.minicolors-theme-default .minicolors-input {
  height: inherit !important;
  width: 100% !important;
  padding-left: 31px !important;
}
.minicolors-theme-default .minicolors-swatch {
  width: 23px !important;
  height: 23px !important;
}
