@import 'sass';
#add-project,
.green {
  color: $green;
}
.edit-project {
  color: $yellow;
}
.blue,
.blue-link {
  color: $blue;
}
.red {
  color: $red;
}
.main-content:first-child,
.topless {
  margin-top: 0 !important;
}
.main-content {
  h1,  h2,  h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $site-color;
  }
  img {
    max-width: 100%;
  }
  p a {
    color: $site-color;
    &:hover {
      color: $site-color;
      border-bottom:1px solid $site-color;
    }
  }
}
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
}
.main-content pre > code {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #567482;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.main-content .highlight {
  margin-bottom: 1rem;
}
.main-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
}
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
  content: normal;
}
.main-content ul, .main-content ol {
  margin-top: 0;
}
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}
.main-content blockquote >:first-child {
  margin-top: 0;
}
.main-content blockquote >:last-child {
  margin-bottom: 0;
}
.main-content table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.main-content table th {
  font-weight: bold;
}
.main-content table th, .main-content table td {
  padding: 0;
  border: 1px solid #e9ebec;
}
.main-content dl {
  padding: 0;
}
.main-content dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.main-content dl dd {
  padding: 0;
  margin-bottom: 1rem;
}
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}
@include desktop {
  .main-content {
    max-width: 70%;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}
@include tablet {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
    max-width: 70%;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@include mobile {
  .main-content {
    padding: 2rem 1rem 0;
    font-size: 1rem;
  }
}
* {
  box-sizing: border-box;
}
a {
  // color: #1e6bb8;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
body {
  padding: 0;
  padding-bottom: 4em;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}
