@import 'sass';
@include mobile {
  .text {
    display: none;
  }
  .project-name {
    font-size: 24px !important;
  }
  .project-tagline {
    display: none;
  }

  .contact-info {
    line-height: 55px;
    margin: 0 !important;
    &:first-child,
    &:nth-child(2n) {
      float: left;
    }
    &:nth-child(3n),
    &:last-child {
      float: right;
    }
    i {
      font-size: 1.2em;

      margin: 10px;
      &:hover {
        border-bottom: none !important;
      }
    }
  }
  .page-header {
    line-height: 55px;
  }
  .container-white {
    padding: 0 !important;
    height: 55px;
    line-height: 55px;
  }
  .white-underline {
    border-bottom: none !important;
  }
}
.white-underline {
  color: inherit;
  &:hover {
    border-bottom: 1.5px solid #fff;
  }
}
.container-white {
  position: absolute;
  background: transparent;
  padding: 10px 0;
  color: white;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 9999;
}
.container {
  display: table;
  width: 100%;
  left:0;
  right:0;
  margin:auto;
}
.contact-info {
  display: table-cell;
  text-align: center;
  margin: 10px;
  width: auto;
}
.project-name {
  margin: 0;
}
@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem;
  }
}
.project-tagline {
  margin-top: 0;
  // margin-bottom: 2.5rem;
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.75;
}
@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
  }
}
.page-header {
  color: #fff;
  text-align: center;
  background: $site-color;
  transition: all .3s;
}
@include desktop {
  .page-header {
    padding: 2% 3% 1.8% 3%;
  }
}
@include tablet {
  .page-header {
    padding: 1.5% 3% 1% 3%;
  }
}
@include mobile {
  .page-header {
    padding: 0;
  }
}
