a.white-underline {
  color: inherit;
}
a.white-underline:hover {
  border-bottom: 1.5px solid #fff;
}
div.container-white {
  position: absolute;
  background: transparent;
  padding: 10px;
  color: white;
  transform: translateY(-100%);
}
div.container {
  display: table;
  width: 90%;
  left:0;
  right:0;
  margin:auto;
}
div.container span {
  display: table-cell;
  text-align: center;
  margin: 10px;
}
div.container span:first-child {
  text-align: left;
}
div.container span:last-child {
  text-align: right;
}
.project-name {
  // padding-top: 8px;
  margin: 0;
}
@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem;
  }
}
.project-tagline {
  margin-top: 0;
  // margin-bottom: 2.5rem;
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.75;
}
@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
  }
}
.page-header {
  color: #fff;
  text-align: center;
  background: #2222CD;
}
@media screen and (min-width: 64em) {
  .page-header {
    padding: 2% 3% 1.8% 3%;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 1.5% 3% 1% 3%;
  }
}
@media screen and (max-width: 42em) {
  .page-header {
    padding: 1.5% 3% 1% 3%;
  }
}
