@import 'sass';
i.fa.fa-file-code-o {
  font-size: 1.5em;
}
#nav {
  line-height: 30px;
  background-color: transparent;
  height: auto;
  width: 21%;
  float: left;
  margin-top: 5vh;
  position: absolute;
  @include mobile {
    bottom: 0;
    width: 100%;
    background-color: white;
    margin: 0;
    line-height: 18px;
    border-top: 1px solid #BBBBBB;
    height: 45px;
    z-index: 9999;
    position: fixed;
  }
}
nav {
  background-color: transparent;
  height: auto;
  width: 60%;
  padding: 8px;
  margin: auto;
  @include tablet {
    width: 80%;
  }
  @include mobile {
    width: 100%;
    padding: 7px 0 0;
  }
}
.red-button {
  background-color: darken(#EA4335, 5%) !important;
  border: 2px solid  darken(#EA4335, 5%) !important;
  @include immobile {
    &:hover {
      color: darken(#EA4335, 5%) !important;
    }
  }
}
.big-button {
  border: 2px solid #2222cd;
  &:focus {
    outline: 0;
  }
}
.button, .big-button {
  display: inline-block;
  text-align: center;
  margin-bottom: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  width: 100%;
  background: #2222cd;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 0;
  text-decoration: none;
  transition: all 0.3s;
  @include immobile {
    border: 2px solid #2222cd;
    &:hover {
      background-color: white !important;
      color: #2222cd;
      border: 2px solid #2222cd;
    }
  }
  &:active {
    position: relative;
    top: 1px;
  }
  i {
    display: none;
    @include mobile {
      display: block;
      line-height: .8;
      font-size: 1.7em;
    }
  }
}
.button {
  @include mobile {
    width: 32%;
    margin: 0;
    color: #8899A6;
    background-color: white;
    padding: 0;
    font-size: .8em;
  }
}
.selected {
  @include mobile {
    color: #2222CD;
  }
  @include immobile {
    color: white;
  }
}
