.blue-underline {
  color: #2222CD;
}
.blue-underline:hover {
  border-bottom: 1px solid #2222CD;
}
img#jam-connect {
}
.shadow {
  transition: box-shadow 0.15s, opacity .15s;
}
.shadow:hover {
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);
  opacity: .97;
}
.twins {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.triplets {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
a.pop{
  color: inherit;
  transition: font-size .3s, text-shadow .3s;
}
a.pop:hover {
  text-decoration: none;
  font-size: 110%;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
section h3 a.project-title {
  font-size: 1.3em;
  color: inherit;
}
section h3 a.project-title:hover {
  border-bottom: 2.5px solid #2222CD;
}
