.tumblr-input {
  border: none;
  border-radius: 2px;
  border-bottom: 2px solid #aaa;
  margin-bottom: 8px;
  transition: all .25s;
  &:-webkit-autofill {
    -webkit-box-shadow:0 0 0 20px white inset;
    -webkit-text-fill-color: #333;
  }
  &:hover {
    border-color: transparentize(#2222CD, 0.3);;
  }
  &:focus {
    // border-color: #777;
    border-color: #2222CD;
    outline: 0;
  }
}
.password-field {
  -webkit-text-security: disc;
}
