<div class="cover">
  <div class="cover-img"></div>
  <div class="cover-content">
    <h1>
      Cruz Núñez
    </h1>
    <footer class="italics">
      Fuckin' Boss
    </footer>
  </div>
  <a href="#down" class="white"><i class="fa fa-chevron-down fa-2x"></i></a>
</div>
<a name="down"></a>
