<div class="transform-icon x-fancy-3-reverse">
  <i></i>
</div>

<nav class="sidebar" role="navigation">
  <%= nav_2 'Home' %>
  <%= nav_2 'Projects' %>
  <%= nav_2 'Resumé' %>
  <%= link_to 'V1', '/v1' %>
</nav>
