<div class="container container-black">
  <span>
    <a href="https://www.linkedin.com/in/cruznunez" class="stretch2">
      <i class="fa fa-linkedin-square"></i>
      Cruz A. Núñez
    </a>
  </span>
  <span>
    <a href="https://github.com/cruznunez" class="stretch2">
      <i class="fa fa-github-square"></i>
      cruznunez
    </a>
  </span>
  <span>
    <a href="mailto:nunez.a.cruz@gmail.com" class="stretch2 email">
      <i class="fa fa-envelope"></i>
      nunez.a.cruz@gmail.com
    </a>
  </span>
  <span>
    <a href="tel:919-593-2828" class="stretch2 phone">
      <i class="fa fa-phone"></i>
      (919) 593 2828
    </a>
  </span>
</div>
