<div class="container container-black">
  <div class="contact-info">
    <a href="https://www.linkedin.com/in/cruznunez" class="black-underline">
      <i class="fa fa-linkedin-square"></i>
      Cruz A. Núñez
    </a>
  </div>
  <div class="contact-info">
    <a href="https://github.com/cruznunez" class="black-underline">
      <i class="fa fa-github-square"></i>
      cruznunez
    </a>
  </div>
  <div class="contact-info">
    <a href="mailto:nunez.a.cruz@gmail.com" class="black-underline email">
      <i class="fa fa-envelope"></i>
      nunez.a.cruz@gmail.com
    </a>
  </div>
  <div class="contact-info">
    <a href="/v2" class="black-underline phone">
      <i class="fa fa-vimeo-square"></i>
      <span class="text">Version 2</span>
    </a>
  </div>
</div>
