<section class="page-header">
  <h1 class="project-name">
    Cruz Núñez
  </h1>

  <h2 class="project-tagline">
    <%= @page == 'Home' ? 'Software Developer' : @page %>
  </h2>

</section>
<div class="container container-white">
  <span>
    <a href="https://www.linkedin.com/in/cruznunez" class="stretch">
      <i class="fa fa-linkedin-square"></i>
      Cruz A. Núñez
    </a>
  </span>
  <span>
    <a href="https://github.com/cruznunez" class="stretch">
      <i class="fa fa-github-square"></i>
      cruznunez
    </a>
  </span>
  <span>
    <a href="mailto:nunez.a.cruz@gmail.com" class="stretch email">
      <i class="fa fa-envelope"></i>
      nunez.a.cruz@gmail.com
    </a>
  </span>
  <span>
    <a href="tel:919-593-2828" class="stretch phone">
      <i class="fa fa-phone"></i>
      (919) 593 2828
    </a>
  </span>
</div>
