<div id="nav">
  <nav>
    <a href="/"><span class="button">Home</span></a>
    <a href="projects"><span class="button">Projects</span></a>
    <a href="resume"><span class="button">Resumé</span></a>
  </nav>
</div>
